body {
	margin: 0;
	padding: 0;
	background-color: #7f63a2;
	color: #e7b7ff;
	font-family: 'Roboto', sans-serif;
	/* display: flex; */
	--side-panel-width: 200px;
	font-size: 20px;
}

div {
	margin: 0 auto;
}

.site-nav {
	text-align: center;
	background-color: #ff77ff; 
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}

.site-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.site-nav li {
	float: left;
}


.site-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	/*
	background-color: #333;
	*/
}


.site-nav li a:hover {
	background-color: #26233b;
	border-radius: 20em;
}


.textual {
	text-align: center;
	/* max-width: calc(75% - var(--side-panel-width)); */
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	white-space: normal; /* Allow text to wrap */
	word-wrap: break-word; /* Allows long words to be broken and wrap onto the next line */
    overflow-wrap: break-word; /* Same as word-wrap for better browser support */
}

.textual p {
	text-align: left;
	text-indent: 3em;
}

.textual ul {
	text-align: left;
	margin: 0;
	font-size: 18px
	/* float: none; */
	/* margin: auto; */
	/* margin-left: auto; */
	/* margin-right: auto; */
}

.textual ul li{
	/* float: none; */
	text-align: left;
	max-width: 100%;
	font-weight: bold;
}

.textual ul ul {
	font-size: 70%; /* Adjust the font size as needed */
}

.textual ul ul li{
	font-weight: normal;;
}

.textual p, .textual li {
    box-sizing: border-box;
}

.side-panel {
	width: var(--side-panel-width); /* Adjust the width of your side panel */
	background-color: #333; /* Example background color */
	color: white; /* Example text color */
	height: 100%;
	top: 0; /* Align the side-panel to the top */
	left: 0; /* Align the side-panel to the left */
	margin-top: calc(2.5em);
	position: fixed;

}

.side-panel ul {
	list-style-type: none;
	padding: 0;
	font-size: 20px;
}

.side-panel li {
	text-align: center;
	margin-bottom: 10px;
}

.side-panel li a {
	color: white;
	text-decoration: none;
}

.main-content{
	padding-top: 2.5em;
	padding-left: calc(var(--side-panel-width) + 0px); /* Adjust the padding */
	text-align: center;
}
